# python3   -m pip install SomePackage
ldap3
requests
selenium
beautifulsoup4
#Openstack
python-novaclient
python-cinderclient
python-keystoneclient
python-glanceclient
python-quantumclient
python-swiftclient

