# python3   -m pip install SomePackage
ldap3
requests~=2.27.1
selenium
beautifulsoup4
#Openstack
python-novaclient
python-cinderclient
python-keystoneclient
python-glanceclient
# python-quantumclient
python-swiftclient
python-ceilometerclient
# OPenstack Nectar
nectar-osc
nectarallocationclient
manukaclient
osc-placement

pandas
numpy
lxml
yfinance

keystoneauth1~=4.4.0
argparse~=1.4.0