# python3   -m pip install SomePackage
ldap3
requests~=2.27.1
selenium
beautifulsoup4
#Openstack
python-novaclient
python-cinderclient
python-keystoneclient
python-glanceclient
# python-quantumclient
python-swiftclient
python-ceilometerclient
# OPenstack Nectar
nectar-osc
nectarallocationclient
manukaclient
osc-placement

pandas==1.4.2
numpy
lxml==4.9.1
yfinance==0.1.72

keystoneauth1==4.6.0
argparse~=1.4.0

scipy
matplotlib
statsmodels
pymc3
